a
  color inherit
  text-decoration inherit
.container
  margin 0 auto
  width 100%
  max-width 750px

.posts
  margin 40px 0

.title
  font-family cardenio-modern
  font-size 30px

.link
  text-decoration underline
