@font-face
  font-family 'cardenio-modern'
  src url("../fonts/cardenio-modern.woff") format('woff2'), url("../fonts/cardenio-modern.woff") format('woff');

@font-face
  font-family 'cardenio-modern-bold'
  src url("../fonts/cardenio-modern-bold.woff") format('woff2'), url("../fonts/cardenio-modern-bold.woff") format('woff');
