.header
  position relative
  text-align center
  padding 10px 20px
  color white
  background #000
  a
    text-decoration inherit
    color inherit
.header-logo
  font-family cardenio-modern-bold
  font-size 24px
  line-height 1
  position absolute
  left 20px

.header-github
  position absolute
  right 20px

.menu
.menu-list
  display inline-block
  font-size 16px
  margin 0
  text-align center

.menu-item
  display inline-block
  padding 0 10px
  line-height 24px

